.active {
    background-color: lightblue !important; /* Add your desired highlight color */
  }

  .active-label {
    font-size: 12px;
    color: #007bff; /* Choose your preferred color */
    margin-left: 5px; /* Adjust margin as needed */
  }
  
  